.reveal .presented-code {
  white-space: pre;

  display: block;
  position: absolute;
  left: -2em;
  width: 1200px;
  zoom: 0.95;
  text-align: left;
  font-family: monospace;
  word-wrap: break-word;
  font-size: 1.1em;
  margin-top: -3em;
  line-height: 1.3em;

  font-weight: bold;
}

.reveal .presented-code.presented-code--with-highlights {
  color: #bbb;
  font-weight: normal;
}

.reveal .presented-code.presented-code--with-highlights .presented-code__highlight {
  color: lightgreen;
  font-weight: bold;
}

.reveal .presented-code.presented-code--with-highlights .presented-code__highlight.alternative {
  color: violet;
}

.reveal .presented-code.presented-code--with-highlights .presented-code__highlight.failure {
  color: red;
}

.reveal .presented-code.presented-code--with-highlights .presented-code__highlight.mutant + .presented-code__highlight {
  text-decoration: line-through;
  color: red;
}
