.reveal section img.pivotal-logo {
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  margin-left: -10%;
  margin-top: -5%;
  width: 120%;
  height: 120%;
  max-width: 120%;
  max-height: 120%;
}
